/* Styling for table */
tbody th {
	font-style:italic;
	font-weight:normal;
}

tbody tr td:nth-child(2) {
	color:red;
}

tbody tr td:nth-child(4) {
	color:blue;
}

tbody tr:nth-child(1),tbody tr:nth-child(3),tbody tr:nth-child(5) {
	background-color:#81e928;
}

tbody tr:nth-child(2),tbody tr:nth-child(4) {
	background-color:#61bcfc;
}

td {
	border:solid;
	border-color: black;
	border-width:1px;
}

th {
	border:solid;
	border-color: black;
	border-width:1px;
}


/* Styling for dl list */

dt:hover+dd{
	background-color:purple;
}


/* Styling for outer-content */
.outer-content {
	background-color: pink;
	padding:15px 0;
	margin-top:20px;
	margin-left:0;
	width:75%;
}


/* Styling for inner-content div */
.inner-content {
	background-color:blue;
	margin:0 auto;
	text-align: center;
	width:75%;
}


/* Styling for image */
img {
	float:left;
}